﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="Comission11.aspx.cs" Inherits="Comission11" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cp1" runat="Server">
<br />
<br />
<div style='margin:0 auto;width:600px'>
    انتخاب فایل<asp:FileUpload runat="server" ID="mFile" /><asp:Button runat="server"
        ID="doUpload" Text='تایید' CssClass="CB" Width="50" />
        </div>
</asp:Content>
