﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="get.aspx.cs" Inherits="get" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cp1" runat="Server">
    
</asp:Content>
