﻿
.PrintHelp
{
	font-size: 15px;
	font-family: Arial, 'Arial Black';
	color: Black;
	text-decoration: none;
	font-weight: bold;
}
.printlbl
{
	font-family: Tahoma;
	font-size: 15px;
	font-weight: bold;
	line-height:0.5cm;
}
.printLeftlbl
{
	font-family: Tahoma;
	font-size: 15px;
	font-weight: bold;
	line-height:0.5cm;
}
.PrintName
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 180%;
}
