﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PrintTickets.aspx.cs" Inherits="PrintTickets" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>لیست مسافرین</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
<object id="OurActiveX" name='OurActiveX' classid="clsid:DE6CDCC5-F2F4-455f-B782-1D1F78EBDAF8"
        viewastext codebase="MyPrinter.cab">
    </object>
    <script language="javascript" type="text/javascript">
        function DoPrint()
        {
           try
	        {
                //alert('Set Printer ');
		        document.OurActiveX.InitPrinter(140, 210);
                //alert('done');
	        }
	        catch(Err)
	        {
		        alert(Err.description);
	        }
            print();
        }
    </script>
</head>
<body onload="javascript:DoPrint()">
    <form id="form1" runat="server">
    <div class="PrintHelp">
        <span style="line-height: 200%;margin-right: 9%"><b>ساعت:&nbsp; </b>
            <asp:Label ID="mHour" runat="server" Text="Label"></asp:Label>
            - &nbsp;<b>تاریخ: &nbsp;</b>
            <asp:Label ID="mDate" runat="server" Text="Label"></asp:Label>
            - &nbsp;<b>مسیر: &nbsp;</b>
            <asp:Label ID="mPath" runat="server" Text="Label"></asp:Label>
            - &nbsp;<b>تعداد کل: &nbsp;</b>
            <asp:Label ID="mNum" runat="server" Text="Label"></asp:Label></span>
        <asp:PlaceHolder runat="server" ID="mTickets" />
    </div>
    </form>
</body>
</html>
