﻿body
{
	direction: rtl;
	font-family: Tahoma;
	font-size: 16px;
	margin: 0px;
	background-color: #CCCC99;
	margin: 0 0 0 0;
}
td
{
	font-size: 14px;
	margin-right: 40px;
}
a, a:visited
{
	text-decoration: none;
	font-weight: bold;
	color: Blue;
}
a:hover
{
	color: Red;
}
.topRow
{
	background-color: #CFCFCF;
	background-image: url(images/barBack.gif);
	background-position: bottom;
	background-repeat: repeat-x;
}
.autocomplete_highlightedListItem
{
	background-color: Yellow;
}
.topRow2
{
	background-color: #ddebef;
	background-position: 50% bottom;
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 10px;
}
.CommandTD
{
	text-align: left;
	background-color: #F5F8FC;
}
.Title
{
	text-align: right;
	background-color: #dcdcdc;
	color: Black;
	font-size: 15px;
	line-height: 180%;
	font-family: Arabic Transparent;
	font-weight: bold;
}
.PathTitle
{
	color:Red;
	font-weight:bold;
	font-size:20px;
}
.TitleTransparent
{
	text-align: right;
	color: Black;
	font-size: 15px;
	line-height: 180%;
	font-family: Arabic Transparent;
	font-weight: bold;
}
.Title2
{
	text-align: right;
	background-color: #dcdcdc;
	color: #003366;
	font-size: 15px;
	line-height: 180%;
	font-family: Arabic Transparent;
	font-weight: bold;
}
.InfoTD
{
	text-align: right;
	background-color: #dcdcdc;
	color: Black;
}
.CB
{
	border: 1px solid #8AA8D0;
	font-family: Tahoma;
	font-size: 11px;
	color: white;
	background-color: #990000;
	font-weight:bold;
	}
	.disabled
	{
		background-color:#aaa !important;
	}
.CBB
{
	border: 1px solid #8AA8D0;
	font-family: Tahoma;
	font-size: 13px;
	color: white;
	background-color: #363335;
	font-weight:bold;
	height: 25px;
}
.CBBD
{
	border: 1px solid #8AA8D0;
	font-family: Tahoma;
	font-size: 13px;
	color: white;
	background-color: #999999;
	font-weight: bold;
	height: 25px;
}
.CBBJ
{
	border: 1px solid #8AA8D0;
	font-family: Tahoma;
	font-size: 13px;
	color: #000000;
	background-color: #FF6600;
	font-weight: bold;
	height: 25px;
}

.CB2
{
	font-family: Tahoma;
	font-size: 10px;
	border-right: #8AA8D0 1px solid;
	border-top: #8AA8D0 1px solid;
	border-left: #8AA8D0 1px solid;
	color: white;
	border-bottom: #8AA8D0 1px solid;
	background-color: #363335;
}
.FileUpload
{
	font-family: Tahoma;
	font-size: 10px;
	border-right: #8AA8D0 1px solid;
	border-top: #8AA8D0 1px solid;
	border-left: #8AA8D0 1px solid;
	color: white;
	border-bottom: #8AA8D0 1px solid;
	background-color: #fffacd;
}
.N
{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 10px;
	margin-top: 5px;
	line-height: 200%;
	padding: 2px 2px 2px 2px;
}
.Name2
{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 10px;
	margin-top: 5px;
	line-height: 100%;
	padding: 2px 2px 2px 2px;
	color: black;
}
.Value
{
	font-family: Tahoma;
	font-weight: bold;
	color: #003366;
	margin-left: 5px;
	margin-right: 1px;
	margin-top: 5px;
	font-size: 11px;
	line-height: 200%;
	padding: 2px 2px 2px 2px;
}
.T
{
	background-color: #fbfaf8;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
.TL
{
	background-color: #fbfaf8;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	text-align:right;
}
.BT
{
	background-color: #fbfaf8;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	font-size:16px;
	font-family:Tahoma;
	height:20px;
}
.L
{
	background-color: #fbfaf8;
}
.Err
{
	color: #ff0000;
	font-weight: bold;
	font-size:14px;
}
.BErr
{
	color: #ff0000;
	font-weight: bold;
	font-size: 18px;
	font-family: Arabic Transparent,Tahoma;
}
.FormulaTextbox
{
	background-color: #ffffee;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
.DD
{
	border: 1px solid black;
	background-color: #fbfaf8;
	font-family: Tahoma;
	font-size: 14px;
	height: 20px;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

.fgt
{
	width: 80px;
	background-color: #fffaed;
}
/*Modal Popup*/
.mdlBck
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.modalPopup
{
	background-color: #FFFFCC;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
	width: 250px;
	text-align: right;
}
.mdlDrg
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
	cursor: move;
	color: #FFFFFF;
	background-color: #990033;
	height: 20px;
	font-weight: bold;
	text-align: center;
}

.Heading2
{
	font-weight: bold;
	color: Navy;
}

.oddRowTitle
{
	font-weight: bold;
	background-color: #b0c4de;
}
.oddRow
{
	background-color: #FFFFFF;
}
.evenRowTitle
{
	font-weight: bold;
	background-color: #DDDDDD;
}
.evenRow
{
	background-color: #fafafa;
}
.lockedRow
{
	background-color: #FFBBBB;
	font-family:Tahoma;
}
.rightColumnTitle
{
	font-weight: bold;
	background-color: #696969;
}
.rightColumn
{
	background-color: #a9a9a9;
}
.FundTD
{
	background-color: #dcdcdc;
}

.Message
{
	color: Green;
	font-size: 12px;
	font-weight: bold;
}
.Error
{
	color: Red;
	font-size: 12px;
	font-weight: bold;
}

.Tab
{
	background-image: url(images/tabBack.gif);
	background-repeat: no-repeat;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 10px;
	margin-top: 5px;
	line-height: 200%;
	color: White;
	text-decoration: none;
	width: 98px;
	text-align: center;
}
.Tab:visited
{
	color: White;
}
.TabSelected
{
	background-image: url(images/tabSelectedBack.gif);
	background-repeat: no-repeat;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 10px;
	margin-top: 5px;
	line-height: 200%;
	color: White;
	text-decoration: none;
	width: 98px;
	text-align: center;
}
.TabMiddle:visited
{
	color: White;
}

/* Grid */
.GH
{
	background-color: #990033;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: White;
	width: 80px;
	line-height: 170%;
}
.GR
{
	background-color: #ececec;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 170%;
}
.GAR
{
	background-color: white;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 170%;
}

.MainPageLink
{
	font-size: 25px;
	font-family: Arial, 'Arial Black';
	color: Black;
	text-decoration: none;
	font-weight: bold;
	line-height: 200%;
}
.MainPageLink:hover
{
	color: Red;
}
.MainPageLink:visited
{
	text-decoration: none;
	color: Black;
}
.MainPageLink:visited:hover
{
	color: Red;
}

.filter
{
	border: 1px solid #000000;
}

.PrintHelp
{
	font-size: 15px;
	font-family: Arial, 'Arial Black';
	color: Black;
	text-decoration: none;
	font-weight: bold;
	width:14cm;
    margin-right: 10% !important;
    margin-top: 2% !important;
}
.pathS, .pathS:Visited
{
	line-height:180%;
	font-weight:bold;
	font-family:Tahoma;
	font-size:11px;
	color:#330066;
}
.path, .path:Visited
{
	line-height:180%;
	font-weight:bold;
	font-family:Tahoma;
	font-size:11px;
}
.wait
{
	color: #ff0000;
	font-weight: bold;
	font-size: 14px;
	font-family: Arabic Transparent,Tahoma;
}

.ltr {
    direction: ltr;
}

.red {
    color: red;
}