﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="myadmin.aspx.cs" Inherits="Manager_myadmin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Password:
        <asp:TextBox ID="mPass" runat="server" TextMode="Password"></asp:TextBox><br />
        <asp:Label runat="server" ID="mMsg" ForeColor="Red"></asp:Label><br />
        <asp:Button ID="doUpdateExclusive" runat="server" Text="پردازش کارمزد بیمه دربستی"
            OnClick="doUpdateExclusive_Click" />
    </div>
    </form>
</body>
</html>
