﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Reception.aspx.cs" Inherits="Reports_Reception" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cp1" Runat="Server">
    
</asp:Content>

